@import url("https://fonts.googleapis.com/css?family=PT+Sans");
body {
  max-width: 960px;
  font-family: 'PT Sans', sans-serif;
  padding: 0px;
  margin: 0px;
  display: block;
  margin: 0 auto;
}
a {
  text-decoration: none !important;
}
.logo {
  margin-top: 40px;
  color: #cb7632;
}
.logo p {
  font-weight: bold;
  font-size: 30px;
}
.call-back {
  margin-top: 40px;
  float: right;
  padding: 5px 0px;
}
.call-back .call-back__button {
  display: inline-block;
}
.call-back .call-back__button .call-back__button_pop-up {
  font-size: 15px;
  color: #cb7632;
  border: 2px solid #cb7632;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  padding: 4px 17px;
  transition: 0.5s ease-out 0.5s;
  -moz-transition: 0.5s ease-out 0.5s;
  -o-transition: 0.5s ease-out 0.5s;
  -webkit-transition: 0.5s ease-out 0.5s;
}
.call-back .call-back__button .call-back__button_pop-up:hover {
  background: #cb7632;
  color: #fff;
  cursor: pointer;
}
.call-back .call-back__phone {
  display: inline-block;
  margin-left: 25px;
}
.call-back .call-back__phone a {
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
.call-back .call-back__phone a:hover {
  color: #cb7632;
}
.navbar {
  background-color: #cb7632;
  border: none;
}
.navbar-nav a {
  color: #fff !important;
  font-size: 15px;
  text-decoration: underline !important;
}
.navbar-nav a:hover {
  background-color: #b16427 !important;
  text-decoration: none !important;
}
.navbar-nav .active a {
  background-color: #b16427 !important;
  text-decoration: none !important;
}
.main-foto {
  min-height: 290px;
  background: #000 url("../img/Antique-Map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #fff;
}
.main-foto .main-foto__img-overlay {
  height: 290px;
  background-color: rgba(208,133,57,0.5);
}
.main-foto .main-foto__img-overlay h1 {
  padding-top: 145px;
}
.main-foto .main-foto__img-overlay p {
  font-size: 24px;
}
.left {
  margin-top: 30px;
}
.left p {
  font-size: 13px;
  color: #444;
}
.left a {
  color: #a76027;
  font-size: 18px;
  text-decoration: underline !important;
  line-height: 30px;
}
.left a:hover {
  text-decoration: none !important;
}
.left h4 {
  font-weight: bold;
  font-size: 22px;
  color: #000;
  padding-top: 20px;
}
.left h3 {
  color: #a76027;
  font-size: 22px;
  font-weight: bold;
}
.center {
  margin-top: 30px;
}
.center p {
  font-size: 13px;
  color: #444;
}
.center a {
  color: #a76027;
  font-size: 18px;
  text-decoration: underline !important;
  line-height: 30px;
}
.center a:hover {
  text-decoration: none !important;
}
.center h4 {
  font-size: 22px;
  color: #000;
}
.center h3 {
  color: #a76027;
  font-size: 22px;
  font-weight: bold;
}
.right {
  margin-top: 30px;
}
.right p {
  font-size: 13px;
  color: #444;
}
.right a {
  display: block;
  color: #a76027;
  font-size: 18px;
  text-decoration: underline !important;
  line-height: 30px;
}
.right a:hover {
  text-decoration: none !important;
}
.right h4 {
  font-weight: bold;
  font-size: 22px;
  color: #000;
}
.right h3 {
  color: #a76027;
  font-size: 22px;
  font-weight: bold;
}
.customers {
  margin-top: 40px;
  font-size: 26;
  font-weight: bold;
  color: #000;
}
.reviews-left p {
  font-size: 14px;
  color: #333;
  padding-left: 20px;
}
.reviews-right p {
  font-size: 14px;
  color: #333;
  padding-left: 20px;
}
blockquote {
  border-left: none !important;
  background: #faf6f3;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: 18px;
  font-style: italic;
}
.footer {
  min-height: 74px;
  margin-top: 40px;
  color: #333;
  font-size: 14px;
}
.footer a {
  color: #a76027;
  text-decoration: underline !important;
}
.footer a:hover {
  text-decoration: none !important;
}
.question {
  text-align: right;
}
#myModal {
  background: rgba(237,237,237,0.5);
}
.modal-title {
  font-size: 24px;
  font-weight: bold;
}
.modal-header {
  border-bottom: none !important;
}
.modal-body {
  margin-bottom: 40px;
}
.close {
  font-size: 32px !important;
  font-weight: 100 !important;
  line-height: 0 !important;
}
.form-control {
  width: 80% !important;
  margin: 0 auto;
  height: 35px !important;
}
.form-control:focus {
  border-color: #cb7632;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(203,118,50,0.6) !important;
          box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(203,118,50,0.6) !important;
}
.btn {
  display: block !important;
  background: #cb7632 !important;
  border-color: #cb7632 !important;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 3px 12px !important;
  transition: 0.5s ease-out 0.5s;
  -moz-transition: 0.5s ease-out 0.5s;
  -o-transition: 0.5s ease-out 0.5s;
  -webkit-transition: 0.5s ease-out 0.5s;
}
.btn:hover {
  background: #fff !important;
  color: #cb7632;
}
